/* General Styles */
.signup_container {
  width: 100%;
  min-height: 100vh;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup_form_container {
  width: 80%; /* רוחב מסודר */
  max-width: 700px; /* רוחב מקסימלי */
  height: 500px; /* גובה קבוע */
  display: flex;
}

.left, .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.left {
  background-color: #ffffff;
  padding: 10px; /* רווח פנימי */
}

.right {
  background-color:#a166c4;
  border: 2px solid #ffffff; /* גבול לבן */
  padding: 10px; /* רווח פנימי */
}

/* Header Styles */
.left h1, .right h1 {
  font-size: 30px; /* הקטנת גודל הטקסט */
  margin-top: 0;
}

/* Button Styles */
/* Button Styles */
.white_btn, .green_btn {
  border: none;
  outline: none;
  padding: 8px 0;
  border-radius: 10px;
  width: 130px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transition for smooth hover effect */
}

.white_btn {
  background-color: #a166c4; /* Lilac color */
  color: white;
}

.white_btn:hover {
  background-color: white; /* Change background to white on hover */
  color: #a166c4; /* Change text color to Lilac on hover */
}

.green_btn {
  background-color: #ffffff; /* White background */
  color: #a166c4; /* Lilac color for text */
}

.green_btn:hover {
  background-color: #a166c4; /* Change background to Lilac on hover */
  color: white; /* Change text color to white on hover */
}
