/* Main container styling */
.homeContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 70px; /* Adjust for navbar height */
  background: #f4f4f9; /* Light background color */
}

/* Content styling */
.homeContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-align: center;
  padding: 20px;
}
.homeContent h1 {
  margin-bottom: 30px;
  font-size: 2rem;
  color: #6a0dad; /* Deep purple */
}
/* Container for select elements */
.selectionsContainer {
  display: flex;
  flex-direction: column; /* Stack select elements vertically */
  align-items: center;
}

/* Select elements styling */
/* Select elements styling */
.languageSelectContainer,
.testTypeSelectContainer {
  margin-top: 20px;
  width: 100%; /* Ensure full width for better layout */
  max-width: 400px; /* Optional: limit max width */
}


.languageSelectLabel,
.testTypeSelectLabel {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
  display: block;
}

.languageSelect,
.testTypeSelect {
  background-color: #9b59b6; /* Medium purple */
  color: white;
  border: none;
  padding: 12px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  margin-top: 8px;
  transition: background-color 0.3s ease;
}

.languageSelect:hover,
.testTypeSelect:hover {
  background-color: #8e44ad; /* Darker purple for hover effect */
}
/* Tooltip styling */
.tooltipWrapper {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Adjust position */
  left: 50%;
  margin-left: -110px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltipWrapper:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
